// 🎨 Colors

:root {
    --color-primary: #22b692;
    --color-error: #f44336;
    --color-background: #ffffff;
    --color-text-primary: #141414;
    --color-text-disabled-primary: #aaa;
    --color-text-disabled-secondary: #ccc;
    --color-primary-black: #000;

    --color-text-secondary: #959595;
    --color-text-gray-secondary: #444;
    --color-text-gray: #7e7e7e;
    --color-border-secondary: #e3e3e3;
    --color-background-secondary: #f3f3f3;
}
